<div class="card mx-auto shadow" style="width: 30rem;">
    <form class="text-center border border-light p-5">

        <p class="h2 mb-4 text-primary">Write me</p>

        <!-- Name -->
        <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput class="form-control mb-4" placeholder="Name">

        <!-- Email -->
        <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput class="form-control mb-4" placeholder="E-mail">

        <!-- Subject -->
        <label class="text-primary">Subject</label>
        <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
      <option value="" disabled>Choose option</option>
      <option value="1" selected>I have a job offer</option>
      <option value="2">I just wanted to say hello</option>
      <option value="3">Something bothers me</option>
    </select>

        <!-- Message -->
        <div class="form-group">
            <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
        </div>

        <!-- Send button -->
        <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect type="submit">Send</button>

    </form>
</div>