<div class="card shadow bg-light">
    <div class="card-header">
        <h1 class="text-primary bold" id="about_me"><b>About me</b></h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 bg-default">
                <img class="img-fluid" id="my-name-is" src="../../../assets/Hello_my_name_is.png" alt="Hello_my_name_is">
            </div>
            <div class="col-md-8">
                <br>
                <h3>Mario Burgos Piedra</h3>
                <h5>Fullstack Developer</h5>
                <hr>
                <br>
                <p class="lead">I'm a fullstack developer based in Barcelona. I love to spend my time designing and programming clean and user-friendly experiences.</p>
                <p class="lead">By my age, some people could say that I'm late to start programming, and that could be right, only if I wouldn't spend most of my time typing code. I have fallen in love with it and I enjoy each minute in front of the screen :D To be honest,
                    I feel much more motivated right now than when I was 20 y.o. and supposedly in age to study.</p>
                <p class="lead">Then </p>
            </div>
        </div>
    </div>
</div>

<div class="card shadow bg-light">
    <div class="card-header">
        <h1 class="text-primary bold" id="skills"><b>Skills</b></h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p>Honestly, I wouldn't say I'm an expert in all of the items of the list underneath. During my formation I have aknowledged some medium-skills at:</p>
                <ul>
                    <li>Java,</li>
                    <li>MySQL,</li>
                    <li>MongoDB,</li>
                    <li>Angular,</li>
                    <li>Node</li>
                </ul>
            </div>
            <div class="col-md-4 bg-default">
                <img class="img-fluid" id="my-name-is" src="../../../assets/skills.png" alt="Hello_my_name_is">
            </div>
        </div>
    </div>
</div>