<footer class="footer bg-primary text-light pt-3">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-fluid mx-2">
                <i class="bi-linkedin" role="img" aria-label="LinkedIn"></i>
            </div>
            <div class="col-fluid mx-2">
                <i class="bi-github" role="img" aria-label="GitHub" (click)="goGitHub()"></i>
            </div>
            <div class="col-fluid mx-2">
                <i class="bi-twitter" role="img" aria-label="Twitter"></i>
            </div>
            <div class="col-fluid mx-2">
                <i class="bi-facebook" role="img" aria-label="Facebook"></i>
            </div>
            <div class="col-fluid mx-2">
                <i class="bi-envelope-fill" role="img" aria-label="Envelope"></i>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Mario_Burpi
    </div>
    <!-- Copyright -->

</footer>